<div class="p-5 background">
    <div class="container p-5 mt-5 mb-5">
        <img src="assets/img/logo-minecraft.svg">
    </div>

    <div class="text-uppercase text-center">
        <h1>Bienvenue sur le site d'astuces de Minecraft</h1>
    </div>
</div>

<div class="text-center p-5">
    <h2 class="text-uppercase">A propos</h2>
    <div class="p-5">
        <p>Sur ce site vous pourrez retrouver de nombreuses astuces partagées par nos membres</p>
        <p>Pour partager de nouvelles astuces ou poster un commentaire, vous devez vous inscrire</p>
        <p>Vous pourrez poster des atuces portant sur plusieurs thèmes : naturel, aliment, minéral, outil, block, arme,
            objet magique</p>
    </div>
</div>